.chat-container {
    width: 600px;
    margin: auto;
    position: relative;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.596);
    border-radius: 0.4rem;
    overflow: hidden;
}
.chat-container .chat-form {
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0.3rem;
}

.chat-container .chat-form .form-group {
    width: 50%;
    padding: 0.3rem 0;
}
.chat-container .chat-form .form-group .input-control {
    width: 100%;
    padding: 8px 12px;
    margin: 0.2rem 0;
    border: 0;
    outline: 1px solid rgb(47, 54, 56);
    border-radius: 4px;
}
.chat-container .chat-form .form-group button {
    float: right;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 0 2px 0px rgba(26, 21, 97, 0.822);
}
.chat-container .chat-form .form-group button:active
{
    box-shadow: 0px 16px 10px 0px rgba(9, 9, 10, 0.822);
    border-radius: 10px;
}
.chat-container .chat-form .form-group button:hover
{
    box-shadow: 0px 16px 10px 0px rgba(9, 9, 10, 0.822);
}

.chat-container .chat-form  p {
    margin-top: auto;
    background-color: rgb(23, 23, 75);
    color: white;
    padding: 0.4rem;
}
.chat-container .chat-room{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.chat-container .chat-room .chat-header{
padding: 10px;
background-color: var(--bg-green);
color: white;
display: flex;
text-transform: capitalize;
}
.chat-container .chat-room .chat-header:after{
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
    background-color: rgb(3, 180, 127);
        margin: 0 .3rem;
}
.chat-container .chat-room .messages{
    height: 100%;
    /* box-shadow:inset 0 0 5px 0 rgba(0, 0, 0, 0.541); */
    /* border-radius: 0.4rem; */
    padding: 0.3rem;
    /* color: white; */
    overflow-y:scroll ;
    background-color: var(--light);
}
.chat-container .chat-room .message{
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    margin: .3rem 0;
  
    /* white-space: pre-wrap; */
}
/* .chat-container .chat-room .messages .message::after,
.chat-container .chat-room .messages .message::before{
    content: "";
    display: table;
    clear: both;
} */
.message .message-content{
    /* display: flex;
    flex-direction: column; */
    width: 45%;
    background-color: whitesmoke;
    border-radius: .4rem;
    overflow: hidden;
}
.chat-container .chat-room .messages #you{
    align-items: flex-end;
    
}
.chat-container .chat-room .messages #other{
    align-items: flex-start;
    
}

.chat-container .chat-room .messages .message .text{
    background-color: rgba(62, 179, 179, 0.712);
    width: 100%;
    font-size: 2.2vmin;
    padding: .3rem;
    color: whitesmoke;
}
.chat-container .chat-room .messages .message .detail{
    display: flex;
    box-shadow: 0 0 10px 1px gray;
    font-size: 1.5vmin;
    background-color: rgba(2, 13, 17, 0.637);
    padding: .2rem;
    justify-content: space-between;
    align-items: center;
    
}
.chat-container .chat-room .messages .message .detail .author{
  color: rgb(254, 255, 254);
    /* text-decoration: underline; */
    text-transform: capitalize;
    border-bottom: 2px solid gray;
}
.chat-container .chat-room .messages .message .detail .time{
    color: white;
    background-color: rgba(0, 97, 0, 0.363);
    border-radius: 30px;
    padding:.2rem;
}





.chat-container .chat-room .input-types{
    margin-top: auto;
    display: flex;
    position: relative;
    overflow: hidden;
    /* align-items: center; */
    padding: .3rem;

}
.chat-container .chat-room .input-types textarea{
    width: 100%;
    resize: none;
    padding: 0.3rem;
    outline: 0;
    border: 0;
}
.chat-container .chat-room .input-types button{
    position: absolute;
    transform: translate(-10%, -50%);
    right: 0;
    top: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0;
    box-shadow: 0 0 10px 1px gray;
    cursor: pointer;
}
.chat-container .chat-room .input-types button:active{
    
    box-shadow:inset 0 0 5px 1px gray;
   
}